<div class="trs-controller">
    <div class="trs-controller__place">
        <div class="trs-controller__place__header">
            <span class="trs-controller__place__header__title">
                Place robot
            </span>
        </div>
        <form [formGroup]="placeRobotForm" (ngSubmit)="placeRobotFormSubmit()">
            <div class="trs-controller__place__body trs-controller__place__body--vertical">
                <mat-form-field>
                    <mat-label>X position</mat-label>
                    <input matInput type="number" formControlName="x">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Y position</mat-label>
                    <input matInput type="number" formControlName="y">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Facing direction</mat-label>
                    <mat-select formControlName="f">
                        <mat-option value="north">
                            NORTH
                        </mat-option>
                        <mat-option value="south">
                            SOUTH
                        </mat-option>
                        <mat-option value="west">
                            WEST
                        </mat-option>
                        <mat-option value="est">
                            EST
                        </mat-option>                    
                    </mat-select>
                </mat-form-field>
                <div class="trs-controller__place__buttons">
                    <button mat-flat-button color="primary" type="submit" [disabled]="placeRobotForm.invalid">
                        PLACE ROBOT
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="trs-controller__direction">
        <div class="trs-controller__direction__header">
            <span class="trs-controller__direction__header__title">
                Change direction robot
            </span>
        </div>
        <div class="trs-controller__direction__body">
            <button mat-flat-button color="primary" (click)="turnLeftRobot()">
                LEFT
            </button>            
            <button mat-flat-button color="primary" (click)="turnRightRobot()">
                RIGHT
            </button>
        </div>
    </div>

    <div class="trs-controller__move">
        <div class="trs-controller__move__header">
            <span class="trs-controller__move__header__title">
                Move robot
            </span>
        </div>
        <div class="trs-controller__move__body">
            <button mat-flat-button color="primary" (click)="moveRobot()">
                MOVE
            </button>
        </div>
    </div>

    <div class="trs-controller__report">
        <div class="trs-controller__report__header">
            <span class="trs-controller__report__header__title">
                Report robot position
            </span>
        </div>
        <div class="trs-controller__report__body">
            <button mat-flat-button color="primary" (click)="reportRobot()">
                REPORT
            </button>
        </div>
    </div>
</div>